.profilePic{
  width: 80%;
  border-radius: 50%;
  margin-top: 50%;
  border:solid rgba(0, 0, 0, 0.5) 1px;
  display: block;
  margin: auto;
}

body{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");
  background-repeat: repeat;
  background-position:center;
  background-attachment: fixed;
  background-size:cover;
  height: 100%;
}

.heigth{
  height: 100%;
  padding-top: 20px;
}

.profile{
  width:600px;
  border: solid rgba(46, 46, 46, 0.71) 1px;
  background-color: white;
  padding-bottom: 20px;
}

.width{
  width: 85%;
}

.datos{
  margin-top: 50px;
}
.centered{
  text-align: center;
}
.box{

}
.uploadButton{
  background-color: none;
}
.uploadButton:hover{
  background-color: rgb(221,170,43);
}
.uploadImg{
  width: 100%;
}

.perfil{
  text-align: left;
}

.perfil h4{
  margin-top: 20px;
}

.perfil p {
  text-align: left;
}

@media (max-width: 480px) {
  .perfil{
    text-align: center;
  }


  .perfil p {
    text-align: center;
  }


}
