@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  font-family: 'Montserrat', serif;
  overflow-x: hidden;
}

/*Header*/

.logoImg{
  width: 80%;
  padding-left: 0;
  margin-left: 0;
}
.headerLogo{
  background-color: rgb(221,170,43);
  margin-left: 0.1px;
  margin-right: 0.1px;
}

/*Barra de navegacion*/
.paddingLeft{
  padding-left: 0;
}
.marginR{
  margin-right: 0;
}

.navBarUl{

  background-color: black;
  list-style: none;
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left:  5px;
}
.navBarLiL{
  padding: 10px;
  text-align: center;
  height: 40px;
  float: left;
  color: white;
  display: inline-block;
}
.navBarLiL:hover{
  background-color: rgb(221,170,43);
  color:black;
  overflow:visible;
}

.navBarLiR{
  padding: 10px;
  text-align: center;
  height: 40px;
  float: right;
  color: white;
  display: inline-block;
}
.navBarLiR:hover{
  background-color: rgb(221,170,43);
  color:black;
  overflow:visible;
}

/*Form del main*/
.searchFilter{
  text-align: center;
  padding-top: 10%;
}


footer{
  background-color: black;
  color: rgb(78, 78, 78);
  height: 150px;
  margin-top: 20px;
}

p{
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*Estilos del faqs*/
.preguntafaqs{
  border:none;
  text-decoration: none;
  padding-left: 10px;
  font-style: italic;
  font-size: 20px;
  border-bottom: 1px solid black;
  background-color: rgb(221,170,43);
}

.respuesta{
  padding-left: 10px;
  font-style: normal;
  font-size: 16px;
  background-color: rgba(139, 139, 139, 0.54);
}

.cuadroFaq{
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  box-shadow: 2px 2px 1px 1px;
}

.faqButton{
  background: transparent;
  border:none;
}

/**/

.vehicleType{
  color: white;
}

.formP{
  border-bottom: solid white 1px;
}


.marginRight{
  margin-right: 10px;
}

.background{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");
}

.mainHome{
  background-image: url('../img/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 600px;
}

.marginRightReg{
  margin-right: 70px;
}

.block{
  display: block;
}

.buscar{
  background-color: transparent;
  border:solid rgba(255, 255, 255) 4px;
  color:white;
  font-size: 18px;
  width: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.buscar:hover{
  box-shadow: 0 5px 15px rgba(250, 250, 250, 0.76);
  transform: scale(1.05, 1.05);

}

.homeForm{
  background-color: rgba(0, 0, 0, 0.67);
  border: solid rgba(255, 255, 255) 4px;
  height: 325px;
  box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.38);
}

.selectFilter{
  color:white;
  background-color: black;
  border: solid white 1px;
  width: 85%;
}

.white{
  color:white;
}

.pointer{
  cursor:pointer;
}


.homeForm{
  padding-top: 15px;
}

h2{
  padding-bottom: 10px;
}

.smartphone {
  display: none;
}


.desktop {
  display: block;
}


.logo-smartphone{
  width: 100px;
}

.navbar.smartphone {
  background: rgb(221,170,43);
}

@media (max-width: 480px) {
  .smartphone {
    display: block;
  }

  .desktop {
    display: none;
  }


}
