@import url('https://fonts.googleapis.com/css?family=PT+Serif');
body{
  font-family: 'PT Serif', serif;
}
.hHome{
  color: white;
}
/*Header*/

.logoImg{
  width: 80%;
  padding-left: 0;
  margin-left: 0;
}
.headerLogo{
  background-color: rgb(221,170,43);
  margin-left: 0.1px;
  margin-right: 0.1px;
}

/*Barra de navegacion*/
.paddingLeft{
  padding-left: 0;
}
.marginR{
  margin-right: 0;
}

.navBarUl{

  background-color: black;
  list-style: none;
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left:  5px;
}
.navBarLiL{
  padding: 10px;
  text-align: center;
  height: 40px;
  float: left;
  color: white;
  display: inline-block;
}
.navBarLiL:hover{
  background-color: rgb(221,170,43);
  color:white;
  overflow:visible;
}

.navBarLiR{
  padding: 10px;
  text-align: center;
  height: 40px;
  float: right;
  color: white;
  display: inline-block;
}
.navBarLiR:hover{
  background-color: rgb(221,170,43);
  color:white;
  overflow:visible;
}

/*Form del main*/
.searchFilter{
  text-align: center;
  padding-top: 10%;
}

select{
  width: 100%;
}

footer{
  background-color: black;
  color: rgb(78, 78, 78);
  height: 150px;
  padding-top: 20px;
}

p{
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*Estilos del faqs*/
.preguntafaqs{
  padding-left: 10px;
  font-style: italic;
  font-size: 20px;
  border-bottom: 1px solid black;
  background-color: rgb(221,170,43);
}

.respuesta{
  padding-left: 10px;
  font-style: normal;
  font-size: 16px;
  background-color: rgba(139, 139, 139, 0.54);
}

.cuadroFaq{
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  box-shadow: 2px 2px 1px 1px;
}

/**/
.main{

}

.vehicleType{
  color: white;
}

.formP{
  color: white;
}

.navBarRadio{
  background-color: rgb(115, 121, 130, .4);
  box-shadow: 0px 1px 6px black;
}

.marginRight{
  margin-right: 10px;
}

.background{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");
}

.mainHome{
  background-image: url('../images/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 600px;
}
