.logoImg{
  width: 80%;
  padding-left: 0;
  margin-left: 0;
}
.headerLogo{
  background-color: rgb(221,170,43);
  margin-left: 0.1px;
  margin-right: 0.1px;
}
.navBarUl{
  background-color: black;
  list-style: none;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
}
.navBarLiL{
  padding: 10px;
  text-align: center;
  height: 40px;
  float: left;
  color: white;
  display: inline-block;
}
.navBarLiL:hover{
  background-color: rgb(221,170,43);
  color:white;
  overflow:visible;
}

.navBarLiR{
  padding: 10px;
  text-align: center;
  height: 40px;
  float: right;
  color: white;
  display: inline-block;
}
.navBarLiR:hover{
  background-color: rgb(221,170,43);
  color:white;
  overflow:visible;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;
}

.searchFilter{
  text-align: center;
  padding-top: 20%;
}

footer{
  background-color: black;
  color: rgb(78, 78, 78);
  height: 150px;
  padding-top: 20px;
}

.main{
  height: 800px;
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

select{
  border-radius: 20%;
  width: 100%;
}

p{
  padding-bottom: 0;
  margin-bottom: 0;
}
