body{
  background-image:url("https://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
  background-repeat: repeat;
  background-position:center;
  background-attachment: fixed;
  background-size:cover;
}

.header{
height: 40px;
}

.padding{
padding:40px;
}

.sombra{
  box-shadow: 8px -7px 8px -3px rgba(0,0,0,0.68);
  -webkit-box-shadow: 8px -7px 8px -3px rgba(0,0,0,0.68);
  -moz-box-shadow: 8px -7px 8px -3px rgba(0,0,0,0.68);

}

.olvido{
    font-size: 10px;
    text-align: left;
    margin-bottom:30px;
}
